.App {
  text-align: center;
  border: 1px solid pink;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table{
  text-align: left;
  border: 1px solid pink;
}
.taulukko tr:nth-child(even){
  background-color: pink;
}
.taulukko thead{
  background-color: pink;
}
.taulukko{
  padding: 20px;
}

form{
  border: 1px solid hotpink;
  padding: 10px;
  text-align: left;
}
form h2{
  text-align: center;
}

td{
  padding: 5px;
}
th{
  padding: 5px;
}
.btn-outline-secondary{
  border-color: pink;
}

.omanav{
  background-color: pink;
}

table .btn-outline-secondary{
  border-color: black;
  background-color: white;
}